<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>c_ge_IdNumber</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
        crossorigin="anonymous">
</head>
<body>


<div class="container my-1" align="left">
  <h2>Make Request</h2>
  <!--  <form action="#" th:action="@{/search}" method="get">-->
  <!--  <input type="text" name="phone" placeholder="Client Phone" class="form-control mb-4 col-4">
  <button type="submit" class="btn btn-info col-2">Search Client</button>-->
  <!--  </form>-->

  <form action="#" th:action="@{/search}" method="get">
    <input class="form-control me-sm-2" type="text" name="Number" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>

</div>

<div class="container my-2" align="center">
  <h2>Client List</h2>
  <table style="width:80%" border="1"
         class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>CreditinfoId</th>
      <th>Number</th>
      <th>TypeId</th>
      <th>Inserted</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c_ge_IdNumber:${Idnumberlist}">
      <td th:text="${c_ge_IdNumber.CreditinfoId}"></td>
      <td th:text="${c_ge_IdNumber.Number}"></td>
      <td th:text="${c_ge_IdNumber.TypeId}"></td>
      <td th:text="${c_ge_IdNumber.Inserted}"></td>
      <td> <a th:href="@{/showFormForUpdate/{Id}(Id=${c_ge_IdNumber.Id})}"
              class="btn btn-primary">Update</a>
      </td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>